// Background Colors

$red-color: #c1666b;
$blue-color: #c1cefe;
$green-color: #77867f;
$white-color: #fefae0;

$red-accent: #ae464c;
$blue-accent: #8fa6fd;
$green-accent: #929e98;
$white-accent: #fcf2af;

// Font Colors

$font-color: #211a1d;

// Font Sizes

// Font Styles
